<div class="pagination">
    <ul class="pagination_container">
        <li class="pagination_container_prev"><a>&#60 Prev</a></li>
        
        <li class="pagination_container_pagenumber active"><a href="#">1</a></li>
        <li class="pagination_container_pagenumber"><a href="#">2</a></li>
        <li class="pagination_container_pagenumber"><a href="#">3</a></li>
        <li class="pagination_container_pagenumber"><a href="#">4</a></li>
        <li class="pagination_container_pagenumber"><a href="#">5</a></li>
        
        <li class="pagination_container_next"><a>Next &#62</a></li>
        
    </ul>
</div>