@import "~normalize.css";
@import "../fonts/bebas_font.css";

%textstyle{
    font-family: Bebas;
    color: whitesmoke;
}

body{
    background-color: #0D0D0D;
}

.post{
    grid-column: 1/5;
    .post_image{
        width: 100%;
        object-fit:cover;
        height: 851px;
        opacity: 0.3;
    }
    .post_text{
        padding: 4rem;
        background-color: whitesmoke;
        color: #0D0D0D;
        text-align: center;
    }
}

