@import "~normalize.css";
@import "../fonts/bebas_font.css";
$white: whitesmoke;
$yellow: #FFBA00;
$black: #0D0D0D;
$purple: #551A8B;

%textstyle{
    font-family: Bebas;
    color: whitesmoke;
}

body{
    background-color: $black;
}
hr{
    margin-bottom: 0rem;
}
.post{
    grid-column: 1/5;
    background-color: $white;
    .post_image{
        background-color: $black;
        height: 860px;
        pointer-events: none; 
        img{
        width: 100%;
        object-fit:cover;
        height: 860px;
        opacity: 0.3; 
        }
        
    }
    .post_text{
        padding: 4rem;
        color: $black;
        text-align: center;
    }
}
