@import "~normalize.css";
@import "../fonts/bebas_font.css";

%textstyle{
    font-family: Bebas;
    color: whitesmoke;
}

body{
    background-color: #0D0D0D;
}

.articles{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 3rem;
    .articles_post{
        text-align: center;
        width: 500px;
        height: 470px;
        .articles_post_img{
            opacity: 1;
            width: 470px;
            object-fit:cover;
        }
        .articles_post_description{
            margin-top: 0.7rem;
        }
    }
    .articles_tags{
        background-color: white; 
        grid-column: 3/4;
        grid-row: 1/4;
        padding-top: 0rem;
        width: 300px;
        height: 90%;

    }
}

.articles_post_link { 
    color:whitesmoke; 
    text-decoration:none;
    @extend %textstyle;
    font-size: 2.5rem;
}

.articles_post_link:hover {
    color: #551A8B;
    opacity: 0.6;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
} 

