@import "~normalize.css";
@import "../fonts/bebas_font.css";

%textstyle{
    font-family: Bebas;
    color: whitesmoke;
}

html{
    font-size: 16px;
}   

body{
    background-color:#0D0D0D;
    background-image: url(../img/pexels-canva.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
}


.screen{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .border_hr{
        grid-column: 1/5;
    }
}

.header{
    grid-column: 3/5;
    .menu{
        padding-top: 1rem;
        padding-left: 2rem;
        a{
        font-size: 3.5rem;
        text-decoration: none;
        @extend %textstyle;
        margin: 1.5rem;
        }
    }
}

.content{
    grid-column: 3/5;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 1rem;
    .content__block{
        text-align: center;
        @extend %textstyle;
        .content__block__title{
            font-size: 2.5rem;
            color: #FFBA00;
        }
        .content__block__text{
            font-size: 2rem;
            word-spacing: 0.5rem;
        }
    }
}

.articles{
    grid-column: 2/4;
    font-size: 3rem;
    color:wheat;
    text-align: center;
}


.footer{
    height: 6%;
    width: 50%;
    position: absolute;
    bottom: 0;
    background-color: #FFBA00;
    p{
        @extend %textstyle;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0.7rem;
        font-size: 2rem;
        
    }
}




