@import "~normalize.css";
@import "../fonts/bebas_font.css";

%textstyle{
    font-family: Bebas;
    color: whitesmoke;
}

html{
    font-size: 16px;
    body{
        background-color:#0D0D0D;
        background-image: url(../img/pexels-canva.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 50%;
    
    }
}

.screen{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    .border_hr{
        grid-column: 1/3;
    }
}

.header{
    grid-column: 2/3;
    .menu{
        padding-top: 0.65rem;
        padding-left: 2rem;
        a{
        font-size: 3.5rem;
        text-decoration: none;
        @extend %textstyle;
        margin: 1.5rem;
        }
    }
}

.content{
    grid-column: 2/3;
    padding-left: 150px;
    padding-right: 150px;
    .content__block{
        text-align: center;
        @extend %textstyle;
        .content__block__title{
            font-size: 2.5rem;
            margin-top: 70px;
            margin-bottom: 30px;
        }
        .content__block__text{
            font-size: 2rem;
            margin-bottom: 100px;
        }
    }
}
.footer{
    grid-column: 1/3;
    height: 8%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFBA00;
    p{
        @extend %textstyle;
        text-align: center;
        margin-top: 15px;
        font-size: 40px;
    }
}




