@import "~normalize.css";
@import "../fonts/bebas_font.css";
$white: whitesmoke;
$yellow: #FFBA00;
$black: #0D0D0D;
$purple: #551A8B;

%textstyle{
    font-family: Bebas;
    color: whitesmoke;
}

body{
    background-color: $black;
    background-image: url(../img/pexels-canva.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:  50%;
    
}

.content{
    grid-column: 3/5;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 1rem;
    .content__block{
        text-align: center;
        @extend %textstyle;
        .content__block__title{
            font-size: 2.5rem;
            color: $yellow;
        }
        .content__block__text{
            font-size: 2.1rem;
            word-spacing: 0.5rem;
        }
        .content__block__text_list{
            font-size: 3rem;
            padding: 0.7rem;
            list-style-type: circle;          
        }
        .content__block__text_link{
            text-decoration: none;
        }
        .content__block__text_link:hover {
            color: red;
            cursor: pointer;
        } 
    }
}
