<div class="articles">

    <div class="articles_post" id="articles_place">

    </div>

    <div class="articles_tags">
        <h2 class="articles_tags_title">#ТЕГИ</h2>
        <div><a class="articles_tags_tag" href="./articles_post_block.html">#HTML</a></div>
        <div><a class="articles_tags_tag" href="./articles_post_block.html">#CSS</a></div>
        <div><a class="articles_tags_tag" href="./articles_post_block.html">#JS</a></div>
        <div><a class="articles_tags_tag" href="./articles_post_block.html">#MVC</a></div>
    </div>
</div>