<div class="articles">

    <div class="articles_post">
        <a class="articles_post_link" href="./articles_post.html"><img class="articles_post_img" src="./pex.jpg"
                alt="альтернативный текст">
            <p class="articles_post_description">Как стать junior frontend разработчиком в 2020 году?</p>
        </a>
    </div>

    <div class="articles_post">
        <a class="articles_post_link" href="./articles_post.html"><img class="articles_post_img" src="./pex.jpg"
                alt="альтернативный текст">
            <p class="articles_post_description">Как стать junior frontend разработчиком в 2020 году?</p>
        </a>
    </div>

    <div class="articles_post">
        <a class="articles_post_link" href="./articles_post.html"><img class="articles_post_img" src="./pex.jpg"
                alt="альтернативный текст">
            <p class="articles_post_description">Как стать junior frontend разработчиком в 2020 году?</p>
        </a>
    </div>

    <div class="articles_post">
        <a class="articles_post_link" href="./articles_post.html"><img class="articles_post_img" src="./pex.jpg"
                alt="альтернативный текст">
            <p class="articles_post_description">Как стать junior frontend разработчиком в 2020 году?</p>
        </a>
    </div>

    <div class="articles_post">
        <a class="articles_post_link" href="./articles_post.html"><img class="articles_post_img" src="./pex.jpg"
                alt="альтернативный текст">
            <p class="articles_post_description">Как стать junior frontend разработчиком в 2020 году?</p>
        </a>
    </div>

    <div class="articles_post">
        <a class="articles_post_link" href="./articles_post.html"><img class="articles_post_img" src="./pex.jpg"
                alt="альтернативный текст">
            <p class="articles_post_description">Как стать junior frontend разработчиком в 2020 году?</p>
        </a>
    </div>

    <div class="articles_tags">теги</div>
</div>