<div class="articles">
    
    <div class="articles_post">
        <div class="articles_post_preview"><img src="./pex.jpg" alt="альтернативный текст"></div>
        <div class="articles_post_title">
            <p>Как стать unior frontend разработчиком в 2020 году?</p>
        </div>
        <div class="articles_post_description"><a href="./articles_post.html">читать</a></div>
    </div>

    <div class="articles_post">
        <div class="articles_post_preview"><img src="./pex.jpg" alt="альтернативный текст"></div>
        <div class="articles_post_title">
            <p>Как стать unior frontend разработчиком в 2020 году?</p>
        </div>
        <div class="articles_post_description"><a href="./articles_post.html">читать</a></div>
    </div>

    <div class="articles_post">
        <div class="articles_post_preview"><img src="./pex.jpg" alt="альтернативный текст"></div>
        <div class="articles_post_title">
            <p>Как стать unior frontend разработчиком в 2020 году?</p>
        </div>
        <div class="articles_post_description"><a href="./articles_post.html">читать</a></div>
    </div>

    <div class="articles_post">
        <div class="articles_post_preview"><img src="./pex.jpg" alt="альтернативный текст"></div>
        <div class="articles_post_title">
            <p>Как стать unior frontend разработчиком в 2020 году?</p>
        </div>
        <div class="articles_post_description"><a href="./articles_post.html">читать</a></div>
    </div>

    <div class="articles_post">
        <div class="articles_post_preview"><img src="./pex.jpg" alt="альтернативный текст"></div>
        <div class="articles_post_title">
            <p>Как стать unior frontend разработчиком в 2020 году?</p>
        </div>
        <div class="articles_post_description"><a href="./articles_post.html">читать</a></div>
    </div>

    <div class="articles_post">
        <div class="articles_post_preview"><img src="./pex.jpg" alt="альтернативный текст"></div>
        <div class="articles_post_title">
            <p>Как стать unior frontend разработчиком в 2020 году?</p>
        </div>
        <div class="articles_post_description"><a href="./articles_post.html">читать</a></div>
    </div>

    <div class="articles_tags">теги</div>
</div>