<div class="post">
    <div class="post_image"><img src="./pex.jpg" alt="альтернативный текст"></div>
    <div class="post_text">
        Неизбежность эмоций
        Мы живем в обществе, в котором случайные встречи и совпадения, бывшие прежде областью магии, уступили место
        строгой логике и математическому моделированию. Но что насчет нашего опыта живого мира — мест, которые мы
        посещаем, троп, по которым мы ходим, книг, которые мы читаем? Наше восприятие мира в большей степени, чем любое
        другое внешнее восприятие, является продуктом наших эмоциональных и психических состояний.

        Значение эмоций не сводится к содержимому нейронных цепей мозга.
        Эмоции — это то, что мы несем глубоко в себе, они влияют на все аспекты нашей жизни, начиная с того, как мы
        взаимодействуем с нашим миром, и заканчивая тем, как мы интерпретируем наш опыт. Можно сказать, что эмоции — это
        неизгладимая сущность наших переживаний, проявляющихся в отношениях, которые мы формируем с людьми и окружающей
        средой. Напряжение между тем, что мы чувствуем, и тем, что мы знаем, является постоянным, а эмоции возникают,
        когда мы дезориентируемся из-за отсутствия общих рамок.
    </div>
</div>