<div class="content">
    <div class="content__block">
        <div class="content__block__title">
            <h2>Как со мной связаться?</h2>
        </div>
        <div class="content__block__text">
            <p class="content__block__text_cont"><i class="fab fa-github"></i> Код данного сайта и других проектов
                здесь:
                github - <a class="content__block__text_link" href="https://github.com/Pirog666">Pirog666</a></p>
            <p class="content__block__text_cont"><i class="far fa-envelope-open"></i> gmail - alice.may.01010@gmail.com
            </p>

        </div>
    </div>