<div class="content">
    <div class="content__block">
        <div class="content__block__title">
            <h2>Справочник - блог junior frontend-разработчика</h2>
        </div>
        <div class="content__block__text">
            <p>Создатель сайта — новичок на пути к профессии веб-программиста. Сайт создан для систематизации знаний, а
                также для того, чтобы поделиться опытом обучения со всеми, кому эта информация может быть полезна.
                Здесь будет подробно описываться мой личный (импровизированный) план обучения, полезные статьи по темам,
                подборки лучших бесплатных курсов и прочих информационных ресурсов.
                А главное — вы всегда сможете связаться со мной, чтобы найти ответы на волнующие вопросы вместе! Не
                стесняйтесь, даже если вы только недавно вывели свой первый <a class="content__block__text_link"
                    href="https://ru.bmstu.wiki/Hello,_world!">«Hello, world!»</a> :)</p>
        </div>
    </div>
</div>